body {
    font-family: copperplate, papyrus, fantasy; 
text-align:center;
animation: change 15s infinite;
}
@keyframes change{
    0%{background-image: url("1.png");}
    50%{background-image: url("2.png");}
    100%{background-image: url("3.png");}
}
body{
     
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
margin: 0;
border-radius: 0%;
border-width: 10px;
border-style: double;
border-color: rgb(255, 54, 131);
color: rgba(207, 5, 82, 0.774);
} 

header { 

border-style: double;
border-color: rgb(230, 40, 119);
border-width: 1px 1px 10px 1px;
border: 0px 0px 10px 0px;

color: rgba(216, 20, 79, 0.541); 
}

top {
border-style: double;
border-color: rgb(170, 18, 64);
border-width: 1px 1px 10px 1px;

background-color: rgba(201, 20, 74, 0.568); 


}

a:hover {

background-color: rgb(234, 38, 97, .7);
padding: 10px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
border-radius: 10%;
border-width: 10px;
border-style: double;
border-color: rgb(206, 26, 80); }

h3 {
    color: rgb(216, 86, 125);
    float:left;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    position: relative;
    border-radius: 10px;
    border-width: 10%;
    border-style: double;
    border-color: rgb(206, 26, 80); 
    border: 0px 0px 10px 0px;
}
h3:hover {
    color: rgb(255,240, 240) ;
    background-color: rgba(219, 87, 126, 0.7);
    padding: 10px 10px;
    margin: 0 1.5%;
    text-align: center;
    text-decoration: none;

    border-radius: 10px;
    border-width: 10%;
    border-style: double;
    border-color: rgb(206, 26, 80); 
    border: 0px 0px 10px 0px;


}       